@model Product

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">Create Product</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <!-- This is a form for Creating categories and put it in the db, with server side validation -->
        <form method="post" class="row">
            <div class="border p-3">
                
                <!-- Maybe create this with a loop instead for more
                automation and consistency for future updates on code or datatable
                -->
                
                <!-- Sum all Validation errors -->
                @* <div asp-validation-summary="All"></div> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow"/>
                    <label asp-for="Title" class="ms-2 text-dark"></label>

                    <!-- display validation error text under the input field -->
                    <!-- this is for server and client side -->
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
                    <label asp-for="Description" class="ms-2 text-dark"></label>
                    
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ISBN" class="form-control border-0 shadow"/>
                    <label asp-for="ISBN" class="ms-2 text-dark"></label>
                    
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Author" class="form-control border-0 shadow"/>
                    <label asp-for="Author" class="ms-2 text-dark"></label>
                    
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ListPrice" class="form-control border-0 shadow"/>
                    <label asp-for="ListPrice" class="ms-2 text-dark"></label>
                    
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price" class="form-control border-0 shadow"/>
                    <label asp-for="Price" class="ms-2 text-dark"></label>
                    
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price50" class="form-control border-0 shadow"/>
                    <label asp-for="Price50" class="ms-2 text-dark"></label>
                    
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price100" class="form-control border-0 shadow"/>
                    <label asp-for="Price100" class="ms-2 text-dark"></label>
                    
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    
                    <!-- Create dropdown with viewbag value passed from controller -->
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-control border-0 shadow">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <label asp-for="CategoryId" class="ms-2 text-dark"></label>

                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>

<!-- Adding the validation scripts as a partial view of this file -->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}